[submodule "prover/rust-rapidsnark"]
	path = prover/rust-rapidsnark
	url = git@github.com:aptos-labs/rust-rapidsnark.git
[submodule "circuit/circomlib"]
	path = circuit/circomlib
	url = https://github.com/iden3/circomlib
