/target
formatted_input.json
.idea
groth16_vk.json
keyless_config.json
onchain_vk.json
onchain_vk_2.json
prover_request_payload.json
__pycache__
rust-rapidsnark/rapidsnark/.cache
*.o
*.a
rust-rapidsnark/rapidsnark/subprojects/oneTBB-2022.0.0
rust-rapidsnark/rapidsnark/subprojects/json-3.2.0
rust-rapidsnark/rapidsnark/subprojects/scope_guard-0.9.1
rust-rapidsnark/rapidsnark/subprojects/packagecache
.DS_Store
*.r1cs
